@import "../../../../../styles/Global.scss";

.staySummary {
  grid-column: 9/13;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 450px;
  .summaryTitle {
    font: $subtitle2;
    color: $blue;
    padding-top: 2em;
  }
}
