@import "../../../../../styles/Global.scss";

.editStayButton {
  color: $blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  .icon {
    font-size: 1.2rem;
  }
}
.editStayButton:visited {
  color: $blue;
}
