@import "../../../../styles/Global.scss";

.payingTag {
  border: solid 2px;
  border-radius: 12px;
  padding: 0.25em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .tagText {
    font: $body1;
  }
}

/* .pending {
  border-color: $warning;
  .tagText {
    color: $warning;
  }
} */

.payed {
  border-color: $green;
  .tagText {
    color: $green;
  }
}
