@import "../../../../styles/Global.scss";

.viewBenefictsButton {
  color: #817185;
  cursor: pointer;
}

.benefictsPopupContent {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  position: relative;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  .floatingCloseButton {
    position: fixed;
    top: 1em;
    right: 1em;
    /* z-index: 3; */
    cursor: pointer;
    .closeIcon {
      font-size: 2.5rem;
      color: $gray;
    }
  }

  .popupHeader {
    padding: 0.5em 2.5em;
    display: inline-block;
    top: 0;
    position: sticky;
    background-color: $white;
    .popupTitle {
      font: $subtitle2;
      color: $blue;
    }
  }

  .guestCard {
    background-color: rgba($color: $grayLightest, $alpha: 0.1);
    border-radius: 8px;
    padding: 2em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    .title {
      font: $subtitle4;
      color: $blue;
    }
    .content {
      font: $body2;
      color: $gray;
    }
    .nameContainer {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
    .benefictsContainer {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }
}

.benefictsPopupContent::-webkit-scrollbar {
  width: 10px;
}

.benefictsPopupContent::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}

.benefictsPopupContent::-webkit-scrollbar-thumb:hover {
  background: transparent;
  box-shadow: 0 0 2px 1px transparent;
}

.benefictsPopupContent::-webkit-scrollbar-thumb:active {
  background-color: transparent;
}

.benefictsPopupContent::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}
