@import "../../../../../../styles/Global.scss";

.guestBenefictsField {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 400px;
}
.guestFormLabel {
  font: $subtitle4;
  color: $blue;
}
.benefictFieldContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
