@import "../../../../styles/Global.scss";

.buttonMiddle {
  background-color: $green;
  width: 128px;
  height: 42px;
  border-style: none;
  border-radius: 27px;
  cursor: pointer;
  p {
    font: $button2;
    color: $white;
  }
}
